@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1 class="text-center">Welcome to DUVALLLLLS</h1>
    <p></p>
</div>

<div class="jumbotron">
    <h1 class="text-center">Only the Best for the Jags</h1>
    <p class="lead">An application that allows customers to order drinks and bartenders to receive those orders</p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Customers", "index", "Cocktails")
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Bartenders", "index", "Orders")
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Modify Menu", "Create", "Cocktails")
    </div>
</div>
